<!-- Loop over each object in the article array -->
{{#each articles as |article| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h3>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      {{article.id}}{{article.title}}
    </h3>

    <p>Created by {{article.author}} on {{format_date article.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{article.description}}
    </p>
  </div>
</div>
{{/each}}
